<footer class="container main-footer m-0">
    {% block footer %}

    <div class="card-body ">
        <div class="row">
            <div class="col">
                <li class="list-unstyled float-left">Copyright&#169;2020 Nasze kolorowanki</li>
            </div>
            <div class="col d-flex justify-content-center">
                <li class="list-unstyled align-content-center">
                    <a class="nav-link admin" href="{{ url_for('auth.login') }} ">Administracja</a>
                </li>
            </div>
            <div class="col d-flex justify-content-center">
                <li class="list-unstyled align-content-center">
                    <a class="nav-link cookie-link" href="{{ url_for('main.cookies') }} ">Ciasteczka</a>
                </li>
            </div>

            <div class="col">
                <li class="list-unstyled float-right"> naszekolorowanki@gmail.com</li>
            </div>
        </div>
    </div>

    {% endblock %}
</footer>