{% extends '_base.html' %}


{% block content %}

<div class="col-6">
    {% with enctype = True %}
    {% include '_form.html' %}
    {% endwith %}

    <p><small>
        Dodając obrazek, potwierdzasz, że jesteś jego autorem oraz
        wyrażasz zgodę na publikację i ewentualną modyfikację obrazka na naszej stronie.
        Jeśli będziesz chciał usunąć Twój obrazek z naszej strony skontaktuj się z nami: naszekolorowanki@gmail.com.<br>
        Zastrzegamy sobie prawo do nie publikowania Twojego obrazka oraz usunięcia go bez podania przyczyny.
    </small></p>
</div>
{% endblock %}