{% extends '_base.html' %}

{% block content %}
Niniejsza Polityka dotyczy plików cookies i odnosi się do strony <em>Nasze kolorowanki</em>.

<b>Ta strona używa cookies.</b>
<p>
Korzystasz ze strony zgodnie z ustawieniami Twojej przeglądarki lub urządzenia do przeglądania stron internetowych - treści dostępnej w internecie. Jeśli Twoje ustawienia zezwalają na zapisywanie cookie takowe są zapisywane.</p>

<b>Co to są cookies?</b>

<p>Pliki cookies ("ciasteczka") stanowią dane informatyczne, są to pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu, inaczej rzecz biorąc w Twoim urządzeniu - komputerze, telefonie, czy też innym urządzeniu z przegląrką stron internetowych lub innym podobnym oprogramowaniem.</p>

<p>Cookies pozwalają na identyfikację komputera z którego użytkownik wszedł na stronę. Używamy plików cookie, które są niezbędne, aby umożliwić Ci poruszania się po serwisie, albo w celu zapewnienia pewnych podstawowych funkcji. Używamy cookies, aby zwiększyć funkcjonalność witryny poprzez przechowywanie np. preferencji. Daje to nam możliwość poprawy wydajności i funkcjonalności naszej strony internetowej, aby zapewnić Państwu lepsze działanie strony.</p>

<b>Są dwa rodzaje cookies:</b>
<ul>
<li>Cookies związane z tzw. sesją - to cookies utrzymywane tylko podczas gdy przeglądarka jest uruchomiona. W momencie jej zamknięcia takie cookies są kasowane. Cookies sesyjne są do prostych spraw technicznych takich jak logowanie, lepsza nawigacja.
<li>Cookies trwałe - tego rodzaju ciasteczka są zachowywane na twardym dysku użytkownika (przeglądarka je zapisuje).
</ul>

<B>Wyszczególnione działania cookies z naszej strony:</b>
<ul>
<li>Ulepszona nawigacja na stronie, dzięki cookie w niektórych przypadkach możemy sprawdzić preferencje użytkownikac co sprawia, że skrypty mogą podsunąć użytkownikowi jego preferencje. Zwiększamy dzięki temu wydajność strony internetowej.
<li>Dzięki cookie możemy sprawdzić czy jesteś nowym czy też powracającym użytkownikiem, a co z tym idzie możemy dostosować stronę tak, by nie pokazywać Ci tych samych informacji kilkukrotnie, jak i też pokazać Ci specjalną informację tylko dla powracających użytkowników.
<li>Cookies pozwala nam stosować statystyki i analizy dzięki którym dowiadujemy się o preferencjach i pochodzeniu użytkowników. Co też pozwala nam na prawidłowy rozwój naszego portalu w dobrym kierunku, gdyż dzięki temu wiemy co jest w naszym serwisie najbardziej popularne.
<li>Jeśli na stronie jest koszyk zakupowy (jest możliwość robienia zakupów) korzysta on z plików cookies.
<li>Jeśli na stronie jest możliwość logowania (dostęp tylko dla subskrybentów, użytkowników zalogowanych) wykorzystuje ona cookies.
<li>Pliki cookies mogą służyć do zapewnienia bezpieczeństwa, wykorzystywane są do wykrywania nadużyć obrębie serwisu.
<li>Jeśli na stronie jest możliwość głosowania/oceniania może wykorzystywać ona cookies.
<li>Jeśli na stronie istnieje możliwość wykorzystywania śledzenia poleceń - program partnerski, wykorzystuje ona cookies. Dzięki tej funkcji mamy możliwość śledzenia poleceń - mamy możliwość sprawdzenia kto polecił naszą stronę innemu użytkownikowi dzięki czemu zwiększamy funkcjonalność naszego serwisu.
<li>Elementy Flash (Adobe Flash Player) - na podstronach mogą znajdować się elementy flash. Moga one także korzystać z technologii cookie zapisując różne ustawienia. Na stronie dostawcy oprogramowania - znajdziesz szczegóły dotyczące bezpieczeństwa: <a href="http://www.adobe.com/security/flashplayer/" class="cookie-links" target="_blank" rel="nofollow">http://www.adobe.com/security/flashplayer/</a>.
</ul>

<B>Cookie ze stron powiązanych:</B>
<p>
Korzystamy z usług zewnętrznych na podstronach mogą wystąpić takie elementy które korzystają z cookies jak:
<ul>
<li>Linki (hiperłącza) do innych stron internetowych, każda z tych stron posiada swoją politykę cookies, jeśli skorzystasz (klikniesz w link) powinieneś zapoznać się z polityką cookies strony na której się znalazłeś.
<li>Narzędzia Google: statystyki Google Analytics, reklamy google, mapka google,  narzędzie google plus, filmy z serwisu youtube i inne - szczegółowy opis polityki plików cookie usług związanych z google znajdziesz tutuaj: <a href="http://www.google.com/policies/privacy/" class="cookie-links" target="_blank" rel="nofollow">http://www.google.com/policies/privacy/</a>.
<li>Narzędzia FaceBook - możesz znaleźć na naszej stronie narzędzie ramka fanów, przycisk lubię to i inne narzędzia udostępnione przez FaceBook - mogą one korzystać z plików cookie - opis działania znajdziesz tutaj: <a href="https://www.facebook.com/about/privacy/cookies"  class="cookie-links" target="_blank" rel="nofollow">https://www.facebook.com/about/privacy/cookies</a>.
<li>Strona może posiadać także inne 'osadzone' przyciski oraz materiały reklamowe, aplikacje, które umożliwiają użytkownikom witryny polubienie, podlinkowanie i podejmowanie innych akcji za pośrednictwem serwisów społecznościowych i powiązanych. Nie kontrolujemy tych serwisów, każdy z nich posiada swoje ustawienia cookies, każdy tych serwisów ma swoją politykę cookies. Ustawiając odpowiednio swoją przeglądarkę możesz decydować czy chcesz tym firmom dać tą możliwość.
</ul></p>


<b>Jak wyłączyć cookies?</b>

<p>Przeglądając tą stronę korzystasz z urządzenia lub przeglądarki (oprogramowania na komputerze), które takowe zapisywanie cookies umożliwia. W wielu przypadkach opcja zapisywania cookies jest domyślnie włączona - domyślnie dopuszcza zapisywanie cookies. Informacje dotyczące ustawień cookies i podobnych technologi - blokowanie, usuwanie można znaleźć materiałach pomocy przeglądarki, urządzenia z którego w tej chwili korzystasz lub na stronie <a href="http://cookies.edu.pl" class="cookie-links" target="_blank">Jak działa coookies? - cookies.edu.pl</a>. Korzystanie z tych rozwiązań może wpływać na możliwość korzystania z naszej witryny, naszych aplikacji, oraz witryn i aplikacji powiązanych. Niestety wbrew najszczerszym chęciom nie jesteśmy w stanie zapewnić sprawnego funkcjonowania strony dla urządzeń z wyłączoną obsługą cookies. </p>


</div>
{% endblock %}

{% block scripts %}
{{ super() }}</div>
<script>

</script>

{% endblock %}