{% extends '_base.html' %}

{% block content %}
<h3 class="p-3">lista zdjęć do akceptacji</h3>


<div class="row my-2 card-wrapper">
    {% if images %}
    {% for image in images %}

    <div class="col-lg-4 col-md-6 mb-4">
        <figure class="figure">


            <img class="rounded img-fluid figure-img" alt="Responsive image"
                 src="{{ url_for('main.uploads', filename=image.image) }}">
            <figcaption class="figure-caption">
                {{image.description }}<br>
                Autor: {{image.username}}
            </figcaption>
            <a class="btn btn-outline-primary" href="{{ url_for('image.edit_image', image_id=image.id)}}">Zmień
                status</a>
            <a class="btn btn-outline-danger" href="{{ url_for('image.delete_image', image_id=image.id)}}">Usuń
                obrazek</a>


        </figure>
    </div>

    {% endfor %}
    {% endif %}
</div>
{% endblock %}

